body {
    text-align: center;
    color: #03045e;
    font-family: "Montserrat", sans-serif;
}

.container {
    background-color: #caf0f8;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
}

#input-el {
    width: 70%;
    height: 50px;
    font-size: 25px;
    padding-left: 15px;
    border-radius: 100px;
    border: none;
}

#input-el:focus {
    outline: none;
}

#add-btn {
    cursor: pointer;
    height: 52px;
    width: 100px;
    border-radius: 100px;
    font-size: 25px;
    margin-left: -100px;
    color: #caf0f8;
    background-color: #03045e;
    border: none;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

li {
    text-align: left;
    background-color: #ade8f4;
    margin: 10px;
    padding: 10px;
    width: 90%;
}